
*.dll
*.DLL
*.exe
*.EXE
*.pdb
*.suo
*.txt
*.user
*.xml
*.cache
*.Cache
*.resources
*.aps
*.ilk
*.ncb
*.htm
*.vspscc
*.manifest
*.cod
*.obj
*.exp
*.lib
*.pch
*.res
*.dep
*.idb
*.tlb
*.force
*.tlh
*.tli
*_i.c
*_i.h
*_p.c
*.bak
*.XML
*.css
*.xslt
*.gif
*.log
*.patch
