
*.dll
*.DLL
*.exe
*.EXE
*.pdb
*.suo
*.txt
*.user
*.xml
*.cache
*.Cache
*.resources
*.aps
*.ilk
*.ncb
*.htm
*.vspscc
*.manifest
*.cod
*.obj
*.exp
*.lib
*.pch
*.res
*.dep
*.idb
*.tlb
*.force
*.tlh
*.tli
*_i.c
*_i.h
*_p.c
*.bak
*.XML
*.css
*.xslt
*.gif
*.log
*.patch
*.exe.config
*.opensdf
*.sdf
*.tlog
*.lastbuildstate
*_manifest.rc
*.locked
*.ipch
*.xlsx
*.asta
*.dasm
*.unsuccessfulbuild
TemporaryGeneratedFile*
*.g.cs
*.g.csproj
*.nupkg
*.zip
Debug/
Debug(.NET 3.5)/
Debug(.NET 4)/
Release/
Release(.NET 3.5)/
Release(.NET 4)/
packages/
