<?xml version="1.0" encoding="utf-8"?>
<Config class_id="0" tracking_level="0" version="0">
	<Packages class_id="1" tracking_level="0" version="0">
		<count>1</count>
		<item_version>0</item_version>
		<item class_id="2" tracking_level="0" version="0">
			<Name>TestWindow</Name>
			<Source class_id="3" tracking_level="0" version="0">
				<Native>C:\Program Files (x86)\Microsoft Visual Studio 12.0\Common7\IDE\CommonExtensions\Microsoft\TestWindow</Native>
			</Source>
			<AdditionalDelegates>
				<count>0</count>
				<item_version>0</item_version>
			</AdditionalDelegates>
		</item>
	</Packages>
</Config>

